<p style="color: green"><%= notice %></p>

<h2 style="color: #666666;margin-left: 20px "><%= @course.name %></h2>
<p style="margin-left: 40px"><%= @course.description %></p>
<p><%=@course.students.count %> students enrolled in this course</p>
