<p style="color: green"><%= notice %></p>

<%= render @submission %>
<div>
  <%= button_to "Back to assignment", stud_course_assignment_path(@course,@assignment), method: :get, class:"btn btn-info"%>
</div>
