<% content_for :title, "Editing assignment" %>

<h1>Editing assignment</h1>

<%= render "form", assignment: [:teach, @assignment] %>

<br>

<div>
  <%= link_to "Show this assignment", [:teach, @course,@assignment] %> |
  <%= link_to "Back to assignments", teach_course_assignments_path %>
</div>
