<div id="<%= dom_id submission %>">
  <p>
    <strong>Title: </strong>
    <%= submission.title %>
    <strong>submitted at :</strong>
    <%= submission.created_at %>
    <%= render "attachment", submission:submission %>
  </p>
</div>
